@import url("./variables.scss");
@import url("./fonts.scss");
@import url("./reset.scss");

body {
	background-color: var(--app-bg);
}

.app {
	width: var(--app-width);
	margin: 0 auto;
	padding: 16px;
	font-family: Helvetica, arial, sans-serif;
}