:root {
	/* sizes */
	--app-width: 700px;

	/* Font families */
	--font-regular: "Helvetica Neue Roman";
	--font-thin: "Helvetica Neue Thin";
	--font-italic: "Helvetica Neue Italic";

	/* Font sizes */
	--font-size-title: 70px;
	--font-size-task: 18px;
	--font-size-filter: 14px;

	/* Colors */
	--page-bg: #F5F5F5;
	--app-bg: #FEFEFE;
	--title-color: #E6DBD9;
	--checkbox-inactive-border: #F0F0F0;
	--checkbox-active-border: #D4DEDD;
	--checkbox-checkmark-color: #8ABAAE;
	--tableitem-border-color: #EDEDED;
	--task-active-color: #555;
	--task-done-color: #D5D5D5;
	--chevron-color: #c9c9c9;
	--chevron-active-color: #E8E8E8;
	--input-text-color: #6a6a6a;
	--filters-color: #7A7A7A;
	--filter-btn-border-color: #E2DBDB;
}