:root {
	/* sizes */
	--app-width: 900px;

	/* Font families */
	--font-regular: "Helvetica Neue Roman";
	--font-thin: "Helvetica Neue Thin";
	--font-italic: "Helvetica Neue Italic";

	/* Font sizes */
	--font-size-title: 115px;
	--font-size-task: 18px;

	/* Colors */
	--app-bg: #fafafa;
	--title-color: #E6DBD9;
	--checkbox-inactive-border: #F0F0F0;
	--checkbox-active-border: #D4DEDD;
	--checkbox-checkmark-color: #8ABAAE;
	--tableitem-border-color: #EDEDED;
	--task-active-color: #555;
	--task-done-color: #D5D5D5;
}