:root {
	/* Font families */
	--font-regular: "Helvetica Neue Roman";
	--font-thin: "Helvetica Neue Thin";
	--font-italic: "Helvetica Neue Italic";

	/* Font sizes */
	--font-size-title: 115px;

	/* Colors */
	--app-bg: #fafafa;
	--title-color: #E6DBD9;
}