.taskItem {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid var(--tableitem-border-color);
	min-height: 40px;
	height: 100%;
	padding: 5px 10px;
	gap: 10px;
}

.checkbox input {
	display: none;
}

label {
	position: relative;
	user-select: none;
}

.checkbox {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	label {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	label::before {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		border: 1px solid var(--checkbox-inactive-border);
		border-radius: 50%;
		transition: all 0.3s;
		content: '\2714';
		color: #fff;

	}

	&_active {
		label::before {
			border: 1px solid var(--checkbox-active-border);
			color: var(--checkbox-checkmark-color);
		}
	}
}


.text {
	font-size: var(--font-size-task);
	color: var(--task-active-color);
	transition: 0.3s all ease;

	&_done {
		color: var(--task-done-color);
		text-decoration: line-through;
		text-decoration-color: var(--task-done-color);
	}
}