.taskItem {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid var(--tableitem-border-color);
	min-height: 40px;
	height: 100%;
	padding: 5px 10px;
	gap: 10px;
	background: var(--app-bg);
}

.text {
	font-size: var(--font-size-task);
	color: var(--task-active-color);
	transition: 0.3s all ease;

	&_done {
		color: var(--task-done-color);
		text-decoration: line-through;
		text-decoration-color: var(--task-done-color);
	}
}