.taskItem {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid var(--tableitem-border-color);
	min-height: 45px;
	padding: 5px 10px;
	gap: 10px;
	background: var(--app-bg);
}