.taskFilter {
	min-height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	flex-wrap: wrap;
	padding: 5px 10px;
	background: var(--app-bg);

	@media (width <= 600px) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.clearBtn {
	background: transparent;
	cursor: pointer;
	border: 1px solid var(--app-bg);
	color: var(--filters-color);
	font-size: var(--font-size-filter);

	&:hover {
		border: 1px solid var(--filter-btn-border-color);
		transform: scale(1.01)
	}
}